<div class="artist-name-header">
  <h1><%= @artist.name %></h1>
  <a class="artist-upvote-arrow" href="/upvote/<%=@artist.id%>" data-artist="<%= @artist.id %>">↑</a>

  <span class="upvote-num"><%= @artist.total_votes %></span> People like <%=@artist.name%>

</div>


<img class="artist-photo" src="<%= @artist.pic_url %>">
<div class="artist-bio">
  <h2>Bio</h2>
  <p><%= @artist.bio %></p>
</div>


<h4>Did you enjoy listening to <%=@artist.name%>? Leave some feedback below.</h4>
<h4>Comments and Feedback</h4>

<!-- commentbox -->
<% if current_user %>
  <%= erb :'comment_box' %>
<% end %>

<div>
<ol class="comment-area">
<%@artist.comments.each do |comment| %>
  <%= erb :'_comment_show', locals:{comment:comment} %>
</div>


  <% if current_user.id == comment.user.id %>

  <!-- edit comment -->
  <form action="/comment/<%= comment.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="comment[content]" value="<%= comment.content %>">
    <input type="submit">
  </form>


<!-- Delete comment -->
  <form class="delete-comment-form" action="/comment/<%= comment.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
  <br>
  <% end %>
<% end %>
</ol>



<% if current_user %>



<a href="/artist/<%=@artist.id%>/edit">Information not correct? Click here to edit this artist.</a>

<form action="/artist/<%= @artist.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete <%=@artist.name%>">
</form>
<% end %>