<body class="bg-black">
  <h1 class="username-profile-header white center"><%=@user.name%>'s Profile</h1>


  <div class="all-artists-link center">
  <a class="red" href="/artist/all">Browse Artists</a>
  </div>



  <div class="followed-artists-list">
  <%= @user.name %> is currently following:

    <ol class="center">
      <% @user.followed_artists.each do |artist|%>
        <li><a class="white" href="/artist/<%= artist.id %>"><%= artist.name %></a></li>
      <% end %>
    </ol>
  </div>

<div id="delete-button">
  <% if current_user.id == @user.id %>
  <%= erb :'user/delete' %>
  <% end %>
</div>

</body>
