<h1><%=@user.name%>'s Profile</h1>

<% if current_user.id == @user.id %>
<%= erb :'user/delete' %>
<% end %>

<div class="all-artists-link">
<a href="/artist/all">Browse Artists</a>
</div>



<div class="followed-artists-list">
<%= @user.name %> is currently following:

  <ol>
    <% @user.followed_artists.each do |artist|%>
      <li><a href="/artist/<%= artist.id %>"><%= artist.name %></a></li>
    <% end %>
  </ol>
</div>

